.header {
    padding:12px 0 0;
}
/*Header*/

$toggleColor: #c7c7c7;
$menusize: 10px;

.header {
    margin-bottom: 30px;
}

.site-logo {
    width: 127px;
}

.top-menu {
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    li {
        padding: 0 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        font-size: 14px;
        text-decoration: none;
    }
}

.menu-toggle {
    font-size: 16px;
    cursor: pointer;
    right: 0;
    top: 28px;
    position: absolute;
    z-index: 4;
    width: 3.813em;
    height: 2.625em;
    span {
        display: block;
        font-size: $menusize;
        position: absolute;
        top: 1.063em;
        width: 3.813em;
        height: 0.500em;
        background: #c7c7c7;
        border-radius: 5px;
        transition: background 0s 0.3s;
        &:before,
        &:after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 0.500em;
            background: $toggleColor;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            transition-duration: 0.3s, 0.3s;
            -webkit-transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0s;
            -webkit-transition-delay: 0.3s, 0s;
        }
        &:before {
            top: -1em;
            transition-property: top, transform;
            -webkit-transition-property: top, transform;
        }

        &:after {
            bottom: -1em;
            transition-property: bottom, transform;
            -webkit-transition-property: bottom, transform;
        }


    }
    &.active {
        span {
            background: none;
            &:before {
                top: 0;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
            &:after {
                bottom: 0;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
            &:before,
            &:after {
                transition-delay: 0s, 0.3s;
                -webkit-transition-delay: 0s, 0.3s;
            }
        }
    }
}

/* /Header*/

