.example-form {
    max-width:520px;
    margin: 0 auto;
}

.pagination {
    a {
        text-decoration: none;
    }
}

h1, .h1, h2, .h2, h3, .h3, h4.h4, h5, .h5, h5, .h6 {
    margin-top: 15px;
    margin-bottom: 30px;
}

a {
    color: #17a2b8;
    text-decoration: underline;
    &:hover {
        color: #1b1b1b;
        text-decoration: none;
    }
}

ul, ol {
    padding: 0;
}
ul {
    li {
        margin-bottom: 15px;
    }
}
ol {
    counter-reset: item;
    li {
        display: block;
        position: relative;
        padding-left: 22px;
        margin-bottom: 15px;
        &:before {
            content: counters(item, ".") " ";
            counter-increment: item;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            font-weight: bold;
        }
        ol {
            padding-left: 30px;
            li {
                padding-left: 30px;
                ol li {
                    padding-left: 45px;
                }
            }
        }
    }
}
