<header class="header">
    <div class="container">
        <div class="clearfix">
            <div class="header__logo">
                <div class="site-logo">
                    <img src="img/logo.png" alt="" />
                </div>
            </div>
            <div class="header__menu">
                <div class="menu-toggle" data-toggle="top-menu">
                    <span></span>
                </div>
                <ul class="top-menu" data-toggle="top-menu">
                    <li>
                        <a href="#">
                            Главная
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            После главной
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Не главная
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Еще меньше главная
                        </a>
                    </li>
                    <li>
                        <a href="#auth" class="fancybox-popup">
                            Попап авторизации
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
