
//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;


$color-green: #92d1af;
$placeholder-color-default: #474747;
$placeholder-color-input-form: #4b4b4b;
