/*fonts*/

@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
	$filepath: "/fonts/" + $file;
	@font-face {
		font-family: quote($style-name);
		src: url($filepath + ".eot");
		src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
		url($filepath + ".woff") format('woff'),
		url($filepath + ".ttf")  format('truetype'),
		url($filepath + ".svg#" + $style-name + "") format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}


//  example->    @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);
