.juster {
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.jfix-after:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.vfix {
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

.vfix-before:before {
    content: '';
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

.hidden-block {
    position: absolute;
    left: -99999em;
    top: -99999em;
}




/* Main */
.two-column {

    @extend .cfix;

    @media (min-width: 992px) {

        &__left {
            float: left;
            width: 262px;
        }
        &__right {
            margin-left: 292px;
        }
    }

    &--right {
        @media (min-width: 1200px) {

            .two-column__left {
                width: 749px;
            }
            .two-column__right {
                margin-left: 780px;
            }
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            .two-column__left {
                width: 569px;
            }
            .two-column__right {
                margin-left: 600px;
            }
        }
        @media (max-width: 991px) {
            .two-column__right {
                clear: both;
            }
        }
    }
}
/* /Main */


